.message-box {
    color:#f1f2f6;
    width: 60%;
    display: flex;
    margin-bottom: 1rem;
    padding-left: 0.4rem;
    padding-top: 0.3rem;
    padding-right: 0.5rem;
    gap: 0.5rem;
}
.sent-msg-box {
    background-color: #747d8c;
    border-radius: 12px 3px 12px 12px;
}
.received-msg-box {
    background-color: #353b48;
    border-radius: 3px 12px 12px 12px;
}
.message-details {
    padding: 0.2rem;
    font-size: 0.9rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    width: 90%;
    font-weight: 400;
}
.msg-avatar {
    width: 8%;
    display: flex;
    justify-content: center;
}
.time {
    font-size: 0.7rem;
    display: flex;
    justify-content: flex-end;
}

.sent-msg {
    display: flex;
    justify-content: flex-end;
}
.received-msg {
    display: flex;
    justify-content: flex-start;
}
.sent-time {
    color: #f1f2f6;
}
.received-time {
    color: #ced6e0;
}